<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38434211867-n2ljvmp010h9h7uc41h3vlhqa03gr800.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38434211867-n2ljvmp010h9h7uc41h3vlhqa03gr800</string>
	<key>API_KEY</key>
	<string>AIzaSyDYEnsozUkrBJPnc8TiBYR0INmnTPhJGMw</string>
	<key>GCM_SENDER_ID</key>
	<string>38434211867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanram.kidseau.kidseau</string>
	<key>PROJECT_ID</key>
	<string>kidseau-71295</string>
	<key>STORAGE_BUCKET</key>
	<string>kidseau-71295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38434211867:ios:7be9fe9623e8986ec850be</string>
</dict>
</plist>